POSTGRES_USER = your_database_user_name
POSTGRES_PASSWORD = your_database_password
POSTGRES_DB = your_database_name
POSTGRES_PORT = your_database_port_num:your_database_port_num
LOCAL_DATABASE_URL = your_database_url_from_local
